<%= stylesheet_link_tag 'hello', :media => "all" %>




  
      <div class="top1">
        <div class="top1-login">
          <div class="top1-login2">
            <%= link_to "ログイン", tweets_path %>
            
            <br><%= link_to "新規登録", new_user_registration_path %></br>
            
          </div>
        </div>
        <%= image_tag 'toppage1.jpg', class:"toppage1"%>
      </div>
  
      <div class="top2">
      <%= image_tag 'toppage2.jpg', class:"toppage2"%>
      </div>

      <div class="top3">
      <%= image_tag 'toppage3.jpg', class:"toppage3"%>
      </div>

  <footer>
    <small>© 2023 GeekSalon</small>
  </footer>

